// IMPORT: Variables
@import "../../scss/variables";

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;

  &__filter {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-areas: "type tool organization clear";
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 20px;

    @media only screen and (max-width: 1100px) {
      grid-template-areas:
        "type tool organization"
        ". clear .";
    }

    @media only screen and (max-width: 800px) {
      grid-template-areas:
        "type tool"
        "organization clear";
    }

    @media only screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }

    &__select {
      &:nth-child(1) {
        grid-area: type;
      }

      &:nth-child(2) {
        grid-area: tool;
      }

      &:nth-child(3) {
        grid-area: organization;
      }
    }

    &__clear {
      align-self: center;
      justify-self: center;
      grid-area: clear;
      cursor: pointer;
      height: 40px;
      width: 60px;
      padding: 0 20px;
      background: #b91616;
      color: $color-secondary;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 1100px) {
        width: 160px;
      }

      @media only screen and (max-width: 800px) {
        width: 160px;
      }

      @media only screen and (max-width: 500px) {
        width: calc(100% - 40px);
      }

      &:active {
        background: #a01111;
      }

      &__label {
        display: flex;
        flex-shrink: 0;
        font-size: 12px;
        cursor: inherit;

        &__title {
          margin-left: 4px;
        }
      }
    }

    .rrs {
      width: 250px;
      height: 40px;

      @media only screen and (max-width: 1100px) {
        width: 200px;
      }

      @media only screen and (max-width: 500px) {
        width: 100%;
        margin-bottom: 20px;
      }

      .caret-icon {
        position: relative;
        right: 0;
        top: 0;
        margin-left: 4px;
      }

      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
      }

      &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        font-size: 13px;
        font-weight: bold;
        height: 40px;
        padding: 0 20px;
      }
    }

    .rrs__button + .rrs__options {
      top: 39px;
    }

    .rrs--options-visible {
      .rrs__label {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .rrs--has-changed .rrs__label {
      color: $color-secondary;
      background: $theme-primary;
    }

    .rrs__multiselect-label__badge {
      border: 1px solid $color-secondary;
      color: $color-secondary;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap; /*  allow items to wrap  */
    justify-content: center;
    width: calc(100% + 20px);
    margin-top: 0px;
    margin-left: -20px;

    &__no_data {
      font-size: 16px;
      margin-top: 20px;
      color: $color-primary;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 300px;
      max-width: 420px;
      flex-grow: 1;
      margin-top: 20px;
      margin-left: 20px;
      background: lightgrey;
      border-radius: 5px;
      overflow: hidden;

      &__content {
        display: flex;
        width: 100%;
        position: relative;

        &__image_container {
          height: 200px;
          width: 100%;
          overflow: hidden;
          background: $color-primary;
          max-height: 190px;

          &__image {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
            min-width: 100%;
          }
        }

        &__icon_container {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          overflow: hidden;
          right: 20px;
          top: 20px;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background: $background-secondary;
          z-index: 10;

          &:active {
            background: $theme-primary;

            .projects__list__item__content__icon_container__icon {
              filter: brightness(0) invert(1);
            }
          }

          &__icon {
            object-fit: contain;
            height: 20px;
            cursor: pointer;
          }
        }

        &__overlayer {
          display: flex;
          flex-direction: column;
          position: absolute;
          color: $color-secondary;
          opacity: 0;
          transition: opacity 0.15s ease;
          width: 100%;
          background: #4b4b4b90;
          height: 100%;
          z-index: 5;

          &__title {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            padding: 20px 20px;
            padding-right: 80px;
            padding-left: 80px;
            padding-bottom: 0;
            flex-shrink: 0;

            &__label {
              font-size: 18px;
              font-weight: bold;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

          &__tools {
            display: flex;
            flex-wrap: wrap;
            width: calc(100% - 40px);
            max-height: 100%;
            padding: 0 20px;
            padding-top: 10px;
            padding-bottom: 20px;
            justify-content: center;
            overflow: hidden;

            &__item {
              display: flex;
              background: $background-secondary;
              color: $theme-primary;
              border-radius: 5px;
              margin-top: 8px;
              margin-left: 8px;
              padding: 6px 20px;
              justify-content: center;
              align-items: center;
              align-self: flex-start;

              &:active {
                background: $theme-primary;
                color: $background-secondary;
              }
            }
          }
        }

        &:hover &__overlayer {
          opacity: 1;
        }
      }

      &__header {
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        background: $background-secondary;
        flex-grow: 1;

        &__title {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          &__label {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
          }
        }

        &__sub_title {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 4px;
          line-height: 1.5;

          &__label {
            color: $theme-primary;
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;

            &__link {
              &:hover {
                text-decoration: underline;
              }

              &:active {
                color: #{$theme-primary}95;
              }
            }
          }
        }
      }
    }
  }
}
