// IMPORT: Variables
@import "../../scss/variables";

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;

  &__filter {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-areas: "type tool organization clear";
    column-gap: 20px;
    row-gap: 20px;

    @media only screen and (max-width: 1100px) {
      grid-template-areas:
        "type tool organization"
        ". clear .";
    }

    @media only screen and (max-width: 800px) {
      grid-template-areas:
        "type tool"
        "organization clear";
    }

    @media only screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }

    &__select {
      &:nth-child(1) {
        grid-area: type;
      }

      &:nth-child(2) {
        grid-area: tool;
      }

      &:nth-child(3) {
        grid-area: organization;
      }
    }

    &__clear {
      align-self: center;
      justify-self: center;
      grid-area: clear;
      cursor: pointer;
      height: 40px;
      width: 60px;
      padding: 0 20px;
      background: #b91616;
      color: $color-secondary;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 1100px) {
        width: 160px;
      }

      @media only screen and (max-width: 800px) {
        width: 160px;
      }

      @media only screen and (max-width: 500px) {
        width: calc(100% - 40px);
      }

      &:active {
        background: #a01111;
      }

      &__label {
        display: flex;
        flex-shrink: 0;
        font-size: 12px;
        cursor: inherit;

        &__title {
          margin-left: 4px;
        }
      }
    }

    .rrs {
      width: 250px;
      height: 40px;

      @media only screen and (max-width: 1100px) {
        width: 200px;
      }

      @media only screen and (max-width: 500px) {
        width: 100%;
        margin-bottom: 20px;
      }

      .caret-icon {
        position: relative;
        right: 0;
        top: 0;
        margin-left: 4px;
      }

      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
      }

      &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        font-size: 13px;
        font-weight: bold;
        height: 40px;
        padding: 0 20px;
      }
    }

    .rrs__button + .rrs__options {
      top: 39px;
    }

    .rrs--options-visible {
      .rrs__label {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .rrs--has-changed .rrs__label {
      color: $color-secondary;
      background: $theme-primary;
    }

    .rrs__multiselect-label__badge {
      border: 1px solid $color-secondary;
      color: $color-secondary;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap; /*  allow items to wrap  */
    justify-content: center;
    width: calc(100% + 20px);
    margin-top: 0px;
    margin-left: -20px;

    &__item {
      display: flex;
      flex-direction: column;
      width: 385px;
      margin-top: 20px;
      margin-left: 20px;
      background: lightgrey;
      border-radius: 5px;
      overflow: hidden;

      &__content {
        display: flex;
        width: 100%;

        &__image_container {
          height: 200px;
          width: 100%;
          overflow: hidden;
          background: $color-primary;

          &__image {
            object-fit: cover;
            width: 100%;
          }
        }
      }

      &__header {
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        background: $background-secondary;

        &__title {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          &__label {
            font-size: 18px;
            font-weight: bold;
          }
        }

        &__sub_title {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 4px;

          &__label {
            color: $theme-primary;
            font-size: 10px;
            text-transform: uppercase;

            &__link {
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
