// Background colors
$background-primary: #f5f5f5;
$background-secondary: #ffffff;

// Text colors
$color-primary: #4c4b4c;
$color-secondary: #ffffff;

// Profile colors
$theme-primary: #1771b9;

// Navigation
$navigation_dimensions: 70px;
$navigation_breakpoint: 700px;
