// IMPORT: Variables
@import "../../scss/variables";

.accordion {
  display: flex;
  width: 100%;
  margin-top: 20px;

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 40px;

    &__item {
      display: flex;
      height: 60px;
      width: calc(100% - 16px);
      border-radius: 5px;
      background: $background-secondary;
      margin-top: 20px;
      padding: 8px 10px;

      &:first-child {
        margin: 0;
      }

      &__image_container {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80px;

        &__image {
          display: flex;
          object-fit: cover;
          height: 90%;
        }
      }

      &__title_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        &__title {
          font-size: 20px;
          font-weight: bold;
        }

        &__sub_title {
          margin-top: 1px;
          font-size: 16px;
          opacity: 0.5;
        }
      }

      &__date_container {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        height: 100%;
        margin-right: 20px;

        &__date {
          font-size: 16px;
        }
      }

      &__toggle_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80px;

        &__toggle {
          font-size: 30px;
        }
      }
    }
  }
}
